body {
    margin: 10px auto;
    width: 80%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    display: block;
    margin:5px;
    padding: 0;
    list-style: none;
    font-weight: bold;
    width: 100%;
    height: 30px
}

nav ul li {
    font-size: 1.5em;
    display: inline;
    color: #40E0D0;
    margin-right: 30px;
}
a {
    text-decoration: none;
    color: #40E0D0;
}
a:hover {
    text-decoration: underline;
}

footer ul li {
    display: inline;
    margin-right: 30px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    color: #40E0D0;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
    text-align: center;
}

ul


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 3em;
}

ul.posts li {
    list-style: none;
}
